################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/OnvifProxy/v15/Server/sqlite3
*.log
